@import "@/assets/sass/abstracts/_typography";
@import "@/assets/sass/abstracts/_variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: inline-size;
  cursor: pointer;

  width: 100vw;
  height: 100vh;

  background-color: #00000042;
  border: none;

  &__wrapper {
    background-color: $white-color;
    position: relative;
    border-radius: 2rem;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    overflow: auto;
    max-height: 100%;
    padding: 4rem;
    max-width: 100rem;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    & > button {
      position: absolute;
      right: 3.2rem;
      top: 3.2rem;
      color: $gray-color-200;
      font-size: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & main {
      height: max-content;
    }
  }
}
