@import "@/assets/sass/abstracts/_typography.scss";
@import "@/assets/sass/abstracts/_variables.scss";
@import "@/assets/sass/abstracts/_utilities.scss";

.p-top {
  container-type: inline-size;
  background-color: $white-color;

  &__wrapper {
    margin: clamp(3.5rem, 5cqi, 5rem) auto;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  & h2 {
    @include _1-6rem($weight: 600);
    margin-bottom: clamp(2.4rem, 3.2cqi, 3.2rem);
    padding-bottom: clamp(1.5rem, 2cqi, 2rem);
    border-bottom: 1px solid $gray-color-300;
    width: 100%;
  }

  & img {
    border-radius: 50%;
    max-width: clamp(9rem, 15cqi, 15rem);
    max-height: clamp(9rem, 15cqi, 15rem);
  }

  & figcaption {
    @include _1-6rem($weight: 600);
    margin-top: clamp(1.2rem, 1.6cqi, 1.6rem);
  }
}
